export CLIENT_ID=""
export TENANT_ID=""
export PFX_PASSWORD=""

export ARM_CLIENT_ID="${CLIENT_ID}"
export ARM_CLIENT_CERTIFICATE_PATH="./client.pfx"
export ARM_CLIENT_CERTIFICATE_PASSWORD="${PFX_PASSWORD}"
export ARM_TENANT_ID="${TENANT_ID}"
export ARM_SUBSCRIPTION_ID=""